{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-3">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Welcome to Shopify...
            </p>
        </div>
    </div>
</header>

<br/>
<div class="container">
    <div class="row">
    <center>
        <div class="col-8">
            <h1>Lorem Ipsum</h1>
            <p align="justify">
                {% lorem 4 p %}
            </p>
            <br/>
            <br/>
        </div>
    </center>
    </div>
</div>


{% endblock %}